<form action="/">
  <label for="cname">Company name:</label><br>
  <input type="text" id="cname" name="cname" placeholder="Acme Corp."><br>
  <input type="submit" value="Submit">
</form>

<form action="/">
  <label for="cname">Company name:</label><br>
  <input type="text" id="cname" name="cname" placeholder="Acme Corp."><br>
  <input type="submit" value="Submit">
</form>
