<form action="/companies">
  <label for="company-name">Company name:</label>
  <input type="text" id="company-name" name="company-name" placeholder="Acme Corp.">
  <input type="submit" value="Submit">
</form>
